

/* Styles for the whole website no matter of screen size */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    box-sizing: border-box;
}

body{
  background-image: linear-gradient(360deg, rgb(255, 255, 255), #dc80c8);
}

.Button1{
    background-image: linear-gradient(180deg, #B80090, #66044f);
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 25%);
    transition: 1s all;
    font-size: 40px;
    border-radius: 5px;
}

/* styles for the top navigation and burger menu that shows on a mobile */

.topnav {
    position: fixed;
    overflow: hidden;
    background-image: linear-gradient(180deg, #66044F, #Dc80c8);
    width: 100%;
}
  
.topnav .logo {
    background-image: url('./logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    height: 60px;
    width: 110px;    
}
  
.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 150%;
    transition: 2s all;
}
  
  .topnav a.btn {
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {  
    /* center the contents for screen width bigger than 1024 */
    .topnav .contents {
      width: 1024px;
      margin: 0 auto;
    }
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-image: linear-gradient(180deg, #b80090, #Dc80c8);
  color: rgb(0, 0, 0);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/*******************************************************************/


/* because of the fix top bar navigation we need to set the page margin to the same height 
as the topnav */

.page-contents {  
    padding-top: 100px;
}
  
.page {
    display: none;
}
  
.page.show {
    display: block;
  
    margin: 0 auto;
    max-width: 1024px;
}
  
.add-border {
    border: 1px solid black;  
}
  
  
.row {  
    display: flex;    
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  
.col {    
    text-align: justify;  
    min-height: 130px; 
  }
  
.col-1 {
    flex-basis: 25%;
  }
  
.col-2 {
    flex-basis: 50%;  
  }
  
.col-4 {
    flex-basis: 100%;  
  }

/**** Media tags for including mobile display */

@media (max-width: 400px) {
    .col-1 {
      flex-basis: 100%;
    }
    
    .col-2 {
      flex-basis: 100%;  
    }
    
    .col-4 {
      flex-basis: 100%;  
    }
}
  
@media (max-width: 768px) {
    .col-1 {
      flex-basis: 50%;
    }
    
    .col-2 {
      flex-basis: 100%;  
    }
    
    .col-4 {
      flex-basis: 100%;  
    }
    
}

@media (min-width: 769px) {
}

@media (min-width: 992px) {
}
  
  
@media (min-width: 1200px) {
}
  
  
@media (min-width: 1400px) {
}

.navdrop{
  font-size: 100%;
}