html
{
    color: #EDEAE0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 
{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}